@import "../../../sass//variables.scss";

.input {

    width: 100%;
    padding: 1rem;

    &__element {
        width: 100%;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba($color-primary, .4);
        transition: all .3s ease-out;
        font-family: inherit;

        &:focus {
            outline: none;
            border-bottom: 1px solid rgba($color-primary, 1);
        }

        &--invalid {
            border-bottom: 1px solid rgba($color-warning, .4);
        }

    }

    &__label {
        opacity: 0;
        font-size: 1.2rem;
        color: $color-primary;
        padding: 0 0 0 1rem;
        transform: translateY(100%);
        transition: all .3s ease-out;
        display: flex;
        position: absolute;
        z-index: -1;

        &--visible {
            opacity: 1;
            transform: translateY(-1.8rem);
            z-index: 1;
        }

        &--invalid {
            color: $color-warning;
        }
    }

}